apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: awe
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        uid: prometheus
        type: prometheus
        access: proxy
        url: http://prometheus:9090
        isDefault: true
        editable: true
      - name: Loki
        uid: loki
        type: loki
        access: proxy
        url: http://loki:3100
        editable: true
      - name: Jaeger
        uid: jaeger
        type: jaeger
        access: proxy
        url: http://jaeger:16686
        editable: true
