apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: ui
          env:
            - name: NEXT_PUBLIC_API_URL
              value: http://localhost:18000
