apiVersion: v1
kind: PersistentVolume
metadata:
  name: local-postgres-pv
  namespace: awe
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: /var/awe-postgres
    type: DirectoryOrCreate
