apiVersion: v1
kind: PersistentVolume
metadata:
  name: local-redis-pv
  namespace: awe
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: /var/awe-redis
    type: DirectoryOrCreate
